{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="login-modern-wrapper">
  <div class="login-modern-card">
    <h2>Bem-vindo!</h2>
   
    <form method="POST" class="email-login">
      <input type="text" name="cpf_cnpj" placeholder="CPF ou CNPJ" required>
      <input type="password" name="senha" placeholder="Senha" required>

      <button type="submit" class="btn-email">Entrar</button>
    </form>

    <p class="footer-text">
      Ainda não tem uma conta? <a href="{{ url_for('auth.cadastro') }}">Crie agora</a>
      <div class="recover-link">
        <a href="{{ url_for('auth.recuperar_senha') }}">Esqueceu a senha?</a>
      </div>
    </p>
  </div>
</div>
{% endblock %}