{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="login-modern-wrapper">
  <div class="login-modern-card">
    <h2>Bem-vindo!</h2>
   
    <form method="POST" class="email-login">
      <input type="text" id="cpf_cnpj" name="cpf_cnpj" placeholder="CPF ou CNPJ" required>
      <input type="password" name="senha" placeholder="Senha" required>

      <button type="submit" class="btn-email">Entrar</button>
    </form>

    <p class="footer-text">
      Ainda não tem uma conta? <a href="{{ url_for('auth.cadastro') }}">Crie agora</a>
      <div class="recover-link">
        <a href="{{ url_for('auth.recuperar_senha') }}">Esqueceu a senha?</a>
      </div>
    </p>
  </div>
</div>

<script>
document.getElementById('cpf_cnpj').addEventListener('input', function(e) {
    var x = e.target.value.replace(/\D/g, '').match(/(\d{0,2})(\d{0,3})(\d{0,3})(\d{0,4})(\d{0,2})/);
    
    if (x[1].length === 11) {
        // É CPF (11 dígitos)
        e.target.value = !x[2] ? x[1] : x[1] + '.' + x[2] + (x[3] ? '.' + x[3] : '') + (x[4] ? '-' + x[4] : '');
    } else {
        // É CNPJ (14 dígitos)
        e.target.value = !x[2] ? x[1] : x[1] + '.' + x[2] + (x[3] ? '.' + x[3] : '') + (x[4] ? '/' + x[4] : '') + (x[5] ? '-' + x[5] : '');
    }
});
</script>
{% endblock %}